.my-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.selected {
  background-color: yellow;
}


@media screen and (max-width:576px) {
  .my-card {
    grid-template-columns: repeat(1, 1fr);
  }
}